*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    height:109vh;
    background-position: center;
    background: linear-gradient(to top,  rgba(33, 41, 39, 0.5)50%, rgba(37, 58, 53, 0.5)50%), url(3.jpeg);
    background-size: cover;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: 180px;
    left: 500px;
    border-radius: 10px;
    padding: 25px;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: aquamarine;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px ;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid aquamarine;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}
.btn{
    width: 90px;
    height: 20px;
    background: aquamarine;
    border: none;
    margin-top: 30px;
    margin-right: 33px;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.btn:hover{
    background: white;
    color:aquamarine;
}
.btn a{
    text-decoration: none;
    color:black;
    font-weight: bold;
*main2{
    margin: 0;
    padding: 0;
}
.main2{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(3.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: aquamarine;
    font-size: 35px;
    font-family: Arial;
    padding: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    height: 70px;
    float: left;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 63px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.42 ease-in-out;
}
ul li a:hover{
    color: aquamarine;
}

body{
    background: linear-gradient(to top,  rgba(33, 41, 39, 0.5)50%, rgba(37, 58, 53, 0.5)50%), url(3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
.mainn{
    position: absolute;
    top: 17%;
    left: 30%;
    width: 460px;
    border: 2px solid aquamarine;
    padding: 40px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 12px;
    padding-top: 80px;
}